@font-face {
  font-family: "norse";
  src: url(./fonts/Norse-Bold.otf);
}

body{
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: max-content;
}

img.fern {
  position: relative;
  z-index: -1;
  height: 100%;
}

.image-container .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20vh;
  height: 25vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-credits {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: calc(8px + 1vh);
}

.photo-credits a {
  color: rgb(255, 255, 255);
}

.text-container img {
  height: 85%;
}

.text-container span {
  font-family: "norse", serif;
  color: rgb(255, 255, 255);
  font-size: 18vh;
}