@font-face {
  font-family: "norse";
  src: url(./fonts/Norse-Bold.otf);
}

body{
  display: flex;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.image-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: max-content;
}

img.fern {
  position: relative;
  z-index: -1;
  height: 100%;
}

.image-container .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20vh;
  height: 25vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-credits {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: calc(8px + 1vh);
}

.photo-credits a {
  color: rgb(255, 255, 255);
}

.text-container img {
  height: 85%;
}

.text-container span {
  font-family: "norse", serif;
  color: rgb(255, 255, 255);
  font-size: 18vh;
}

.right-container {
  margin: auto 0;
  min-width: 380px;
  max-height: 100vh;
  overflow: auto;
}

.right-container p {
  font-size: calc(16px + 0.5vh);
  font-family: Roboto, Ubuntu, sans-serif ;
  font-weight: 500;
  margin: 30px 40px 10px;
  max-width: 640px;
}

label {
  margin: 15px 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(10px + 0.5vh);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: rgba(60, 60, 60, 0.8);
}

label input {
  font-size: calc(12px + 0.5vh);
  border: 1px solid rgba(180, 180, 180, 0.3);
  border-radius: 3px;
}

button {
  margin: 15px 40px 30px;
  padding: calc(4px + 0.5vh) calc(40px + 1vh);
  background-color: rgb(90, 160, 90);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(70, 140, 70);
}

button:active {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}

form .row {
  display: flex;
  flex-wrap: wrap;
}

label input:focus {
  outline: rgba(105, 180, 120, 0.8) solid 3px;
}

.right-container span {
  margin: 40px;
  font-family: Roboto, Ubuntu, sans-serif ;
  font-weight: 400;
}

.right-container span a {
  text-decoration: none;
  color: rgb(70, 140, 70);
}